In [5]:
num_list = [10,20,30,40,50,60,70,70,60,60]

In [6]:
num_list

[10, 20, 30, 40, 50, 60, 70, 70, 60, 60]

In [4]:
#Display all duplicates

In [7]:
i = len(num_list)

In [11]:
l = []
for i in num_list:
    if num_list.count(i)>1:
        l.append(i)
print(set(l))

{60, 70}

In [12]:
## By using the collections to remove duplicates

In [16]:
import collections
num_list = [10,20,30,40,50,60,70,70,60,60]
duplicates = []
for item,count in collections.Counter(num_list).items():
    if count>1:
        duplicates.append(item)
print(duplicates)

[60, 70]

In [17]:
#38. Oueter and inner function

In [21]:
def outer(x,y):
    def inner(x,y):
        return x+y
    z=inner(x,y)
    return z+' Developer'

In [22]:
outer('ABC','XYZ')

'ABCXYZ Developer'

In [27]:
#41 Print the sum of current and previous number in a range(0,10)

In [25]:
sum = 0
prev = 0

for i in range(0,10):
    sum = i+prev
    print(f"current number {i} and previous number {prev} and Sum {sum}")
    prev = i

current number 0 and previous number 0 and Sum 0
current number 1 and previous number 0 and Sum 1
current number 2 and previous number 1 and Sum 3
current number 3 and previous number 2 and Sum 5
current number 4 and previous number 3 and Sum 7
current number 5 and previous number 4 and Sum 9
current number 6 and previous number 5 and Sum 11
current number 7 and previous number 6 and Sum 13
current number 8 and previous number 7 and Sum 15
current number 9 and previous number 8 and Sum 17

In [28]:
#42 print charcters present in at even index

In [31]:
string = input()

for i in range(len(string)):
    if i%2 ==0:
        print(string[i])

 Prabhu

P
a
h

In [38]:
string = input()
print(string[0::2])

 ineuron

iern

In [39]:
#Multiplication table

In [43]:
for i in range(1,11):
    for j in range(1,11):
        c = i*j
        print(f"{c} ", end=" ")
    print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

In [44]:
#Lambda function

In [48]:
c=lambda a,b : a+b+15

In [49]:
c(10,12)

37

In [50]:
import datetime

In [58]:
now = datetime.datetime.now()
print(now)
year = lambda x:x.year
month = lambda x:x.month
day = lambda x:x.day

print(year(now))
print(month(now))
print(day(now))

2022-11-26 11:47:48.232215
2022
11
26

In [59]:
x= lambda a,b,c : (b*b)-(4*a*c)

In [62]:
x(1,4,1)

12

In [74]:
l = [1,2,3,4,5,6,7,8]
c=lambda a: a%2==0
even = len(list(filter(c,l)))

4

In [75]:
#49. Convert all the charcters in uppercase to lowercase

In [79]:
def addition(a):
    return a**2

In [82]:
list(map(lambda a:a**2,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [83]:
l = ['A','B','C','C']

In [88]:
list(set(list(map(lambda a:a.lower(),l))))

['b', 'c', 'a']